In [2]:
import numpy as np
import pandas as pd

In [5]:
movies_df = pd.read_csv('MovieSummaries/movie.metadata.tsv',sep='\t',names=['Wikipedia ID','Freebase ID','Name','Release date','Box office revenues','Runtime','Languages','Country','Genres'])
movies_df.head()

,Wikipedia ID,Freebase ID,Name,Release date,Box office revenues,Runtime,Languages,Country,Genres
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science..."
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp..."
2,28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D..."
3,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic..."
4,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}"

In [6]:
character_df = pd.read_csv('MovieSummaries/character.metadata.tsv',sep='\t', names=['Wikipedia ID','Freebase ID','Release date','Character name','Actor DOB',
                                                                                    'Sex','Height','Ethnicity','Actor name','Actor age','Freebase character map'
                                                                                    ,'?','?'])
character_df.head()

                 Wikipedia ID                 Freebase ID Release date  \
975900 /m/03vyhn   2001-08-24                    Akooshay   1958-08-26
       /m/03vyhn   2001-08-24  Lieutenant Melanie Ballard   1974-08-15
       /m/03vyhn   2001-08-24         Desolation Williams   1969-06-15
       /m/03vyhn   2001-08-24          Sgt Jericho Butler   1967-09-12
       /m/03vyhn   2001-08-24             Bashira Kincaid   1977-09-25

                 Character name  Actor DOB         Sex              Height  \
975900 /m/03vyhn              F      1.620         NaN      Wanda De Jesus
       /m/03vyhn              F      1.780  /m/044038p  Natasha Henstridge
       /m/03vyhn              M      1.727     /m/0x67            Ice Cube
       /m/03vyhn              M      1.750         NaN       Jason Statham
       /m/03vyhn              F      1.650         NaN         Clea DuVall

                  Ethnicity  Actor name   Actor age Freebase character map
975900 /m/03vyhn       42.0  /m/0bgchxw  /m/0bgcj3x             /m/03wcfv7
       /m/03vyhn       27.0   /m/0jys3m  /m/0bgchn4              /m/0346l4
       /m/03vyhn       32.0   /m/0jys3g  /m/0bgchn_             /m/01vw26l
       /m/03vyhn       33.0  /m/02vchl6  /m/0bgchnq              /m/034hyc
       /m/03vyhn       23.0  /m/02vbb3r  /m/0bgchp9              /m/01y9xg